
.container-fluid .file-img {
	position: absolute;
	top: 18em;
	left: 50em;
	display: none;
}

.img {
	width: 50%;
}

.margin-top {
	margin-top: 2em;
}

.btn-option-title {
	margin-top: 2.5em;
}

.btn-option-subtitle {
	margin-top: 1.5em;
}

.position-container {
	position: absolute;
	width: 99%;
	background-color: #000;
	top: 700px;
}

.editable {
	width: 100%;
	padding: 10px;
	border-bottom: solid;
	margin-top: 1em;
	font-family: Arial;
	text-decoration: none !important;
	font-style: normal !important; 
}

u {
	font-family: Arial !important;
	text-decoration: none !important;	
	font-style: normal !important; 
	font-size: 18px !important;
	color: #757575 !important;
}

i {
	font-family: Arial !important;
	text-decoration: none !important;	
	font-style: normal !important;	
	font-size: 18px !important;
	color: #757575 !important;
}

font {
	font-family: Arial !important;
	text-decoration: none !important;	
	font-style: none !important;
	font-size: 18px !important;
	color: #757575 !important;
	padding: 0 !important; 
}

.padding {
	padding-left: 3em;
	padding-right: 3em; 
}

/*			Estilos de noticia			*/

.position-header {
	width: 100%; 
	height:100%;
}

.h1 {
	font-size: 26px;
	color: #424242;
	font-family: Arial;
	font-weight: 700;
}

.h2 {
	font-size: 21px;
	color: #616161;
	font-family: Arial;
	font-weight: 700;
}

.p {
	font-family: Arial !important;
	text-decoration: none !important;	
	font-style: normal !important;	
	font-size: 18px !important;
	color: #757575 !important;
}

.editable span {
	font-family: Arial !important;
	text-decoration: none !important;	
	font-style: normal !important;	
	font-size: 18px !important;
	color: #757575 !important;	
}

.margin {
	margin: 0px;
	padding: 0px;
}

.jumbotron {
	margin: 0px;
	width: 100%;
	padding: 0px;
	background-size: cover;
}

.container-fluid .jumbotron {
	padding: 0;	
}

.img-header {
	width: 100%;
}

.position-header {
	overflow: hidden;
	max-height: 25em;
}

.btn-save {
	margin-top: 1em;
	margin-bottom: 3em;
}

.navbar {
	background-color: #4CAF50;
}

.navbar-brand {
	font-size: 2em;
	font-weight: 700;
}

.navbar-header .navbar-brand:hover {
	color: #FFF;
}

.navbar-header .navbar-brand {
	color: #FFF;
}

.nav li a {
	color: #FFF;
}

.nav .dropdown .dropdown-menu{
	background-color: #007743;
}

.container-fondo {
	background-color: #007743;	
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #1B5E20;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #4CAF50;	
}

.position-fixed {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #4CAF50;
}

.fondo-category {
	background-color: #2D738C; 
	padding:10px;
	color: #FFF;
}

.espacio {
	padding-top: 1em;
}

.fondo-category:hover {
	background-color: #C02E1D;
}

.borde {
	border-right: solid;
	border-color: #FFF;
}

.separacion {
	margin-left: .5em;
}

.separador-col {
	padding-left:.5em;
	padding-right:.5em;
	padding-top: .4em;
}

.back {
	background-color: #EDEBE2;
	margin-left: .5em;
	margin-right: .5em;
	padding-right: 0;
	width: 100%;
}

.col-space {
	border-right: solid;
	border-color: #FFF;
	padding: 0;
}

.tamano {
	width: 275px;
	height: 80px;
	display: flex;
	align-items: center;
    justify-content: center;
    overflow: hidden;
}

.margin-col {
	color: #FFF;
	font-size: 15px;
}

.aling-center {
  	display: flex;
	align-items: center;
    justify-content: center;
}

.container {
	width: 80%;
}

.subtitle {
	font-weight:700;
}

.parrafo {
	font-size: 15px;
}

.h5-style {
	font-weight:700; 
	font-size: 1.2em;
	margin-top:2em;
}

.row-style {
	margin-left:1em; 
	margin-right:3em;
}

.row-style .col-md-6 .row {
	border-bottom: solid 1px; 
	border-color: #4C3D33; 
	margin-left:1em;
}

.padding-col {
	padding-left:0;
}

.padding-col a{
	margin-bottom:0;
	color: #000008;
}

.padding-col a:hover {
	text-decoration: none !important;
	text-style: normal !important;
}

.h5-date {
	color: #4C3D33; 
	font-weight:700; 
	margin-bottom:0;
}

.col-variado {
	margin-top:0;
}

.separaciones {
	padding-top: 1em;
	padding-bottom: 0;
	border-bottom: solid;
	border-color: #4CAF50;
}

.padding-left {
	padding-left: 2em;
	padding-top: 1em;
}

.margin-top {
	margin-top: 5em;
}

.tipografia {
	font-family: Arial;
}

.decoration-span {
	text-decoration: none !important;
}

.decoration-span:hover {
	text-decoration: none !important;
}