.ocultar {
	visibility: hidden;
}

.editable {
	border-color: #FFF;
}

.h1 {
	margin-bottom: 0; 
}

.h2 {
	margin-bottom: 0;
}

.title-header {
	margin-bottom: 0;
}

.p {
	margin-bottom: 0;
	margin-top: 0;
}

.padding-bottom {
	padding-bottom: 1em;
}

.margin-espacio {
	margin-left: 1em;
}

.espacios-blanco {
	padding-bottom: 0;
}

.espacio-subtitle {
	padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}