.ocultar {
	visibility: hidden;
}

.editable {
	border-color: #FFF;
}

.h1 {
	margin-bottom: 0; 
}

.h2 {
	margin-bottom: 0;
}

.title-header {
	margin-bottom: 0;
}

.p {
	margin-bottom: 0;
	margin-top: 0;
}

.padding-bottom {
	padding-bottom: 1em;
}
